# 해쉬

# 딕셔너리 연습부터 하자!

- https://blockdmask.tistory.com/450

- key, value 한쌍! > key가 인덱스! 순서상관없이 key로 값을 가져올 수 있다! > key만있으면 값 접근 가능해서 복잡도 복잡하지 않음!
- {} 중괄호 표현!

In [ ]:
# 딕셔너리 선언
d = {}
d = dict()

- key 값은 중복x, key값에는 리스트 등 mutable한 타입 올 수x / value값은 중복o

In [12]:
d = {'a':123123}

In [13]:
# 값 추가

d[999] = 10 # dict[key] = value
d

{'a': 123123, 999: 10}

In [4]:
d[999]

10

In [5]:
# 값변경 - 덮어씌어짐
d[999] = 100
d

{'a': 123123, 999: 100}

In [ ]:
# 원하는 'key'값이 있는지 : in (key값임!!!!)

In [6]:
# 딕셔너리는 key집합이라고 생각하면 됨!!!!!!(검색, 찾는거 루트 다 key임!)
# 기본

# d.keys() = d 라고 생각하면 됨!
d.keys()

dict_keys(['a', 999])

In [7]:
d.values()

dict_values([123123, 100])

In [11]:
d

'a'

In [14]:
for d in d.keys():
    print(f'd : {d}')

d : a
d : 999

In [16]:
d

999

In [17]:
# key, value 동시에 가져오기 > d.items()

d = {'a': 123123, 999: 100}
for k,v in d.items():
    print(k)
    print(v)

a
123123
999
100

In [18]:
# value값 얻기 - 없으면 error
d[999]

100

In [20]:
# value값 얻기 - 없으면 error안나고, None이 뜸/양 많은 데이터일때는 if문 등에 nONE일때..처리 가능! 이거써라!
d.get(999)

100

In [ ]:
#  지울때

del d[999] # 어떤 key지울건지 구체적으로 써주기 / 없는거 지우면 error남
# 있는지 없는지 get으로 확인하고 지우기! if문에 이런거 활용하면 error방지 가능!

In [ ]:
# 딕셔너리 키, 값 모두 지우기 > clear (기존 딕셔너리 값 다 지움)

d.clear()

In [31]:
# 출석체크

d = {'나연':1, '정연':2, '모모':3, '사나':4, '지효':5, '미나':6, '다현':7, '채영':8,'쯔위':9}

In [32]:
d

{'나연': 1,
 '정연': 2,
 '모모': 3,
 '사나': 4,
 '지효': 5,
 '미나': 6,
 '다현': 7,
 '채영': 8,
 '쯔위': 9}

In [34]:
present_students = {"정연":1, "모모":2, "채영":3, "쯔위":4, "사나":5, "나연":6, "미나":7, "다현":8}

In [35]:
for student in d:
    answer = present_students.get(student)
    if answer == None:
        print(student)

지효

In [36]:
all_students = ["나연", "정연", "모모", "사나", "지효", "미나", "다현", "채영", "쯔위"]
present_students = ["정연", "모모", "채영", "쯔위", "사나", "나연", "미나", "다현"]

In [42]:
# 리스트를 딕셔너리로! >> 딕셔너리로 풀라고 모든 자료를 딕셔너리로 풀 필요는 없음!

d = {}
a = 1
for i in all_students:
    d[i] = a
    a += 1
    
d2 = {}
b = 1
for i in present_students:
    d2[i] = b
    b += 1

for student in d:
    answer = d2.get(student)
    if answer == None:
        print(student)

지효

In [45]:
money = [15000, 21000, 9000, 6000, 12000]
max(money)

21000

In [50]:
# 딕셔너리 ) 불우이웃돕기 > 가장 적은 용돈을 받은 사람에게 10만원 더 주기(변경) 후 모든 사람 얼마 받는지 출력!
# 1. names, money를 딕셔너리 (names 중복되지 않습니다.)
# 2. 가장 적은 용돈을 받은 사람을 찾아라
# 3. 그 사람에 100000원을 추가해준다.
# 4. 모든 사람 이름과 용돈을 출력하면 됩니다.

In [50]:
# 불우이웃돕기 문제

names = ['sunyoung', 'OH', 'kek', 'miran', 'yeah1']
money = [15000, 21000, 9000, 6000, 12000]
         
d_names = {}
i = 0
for name in names:
    d_names[name] = money[i]
    i += 1
    
d_names

{'sunyoung': 15000, 'OH': 21000, 'kek': 9000, 'miran': 6000, 'yeah1': 12000}

In [51]:
a = max(money)
for d in d_names.keys(): 
    if d_names.get(d) < a:      # if d_names.get(d) == min(money): 이렇게 해도 됨!
        a = d_names.get(d)
        person = d
    
d_names[person] = d_names[person] + 100000

for k,v in d_names.items():
    print(k,v)
    
    
# 미란언니 코드 보기

sunyoung 15000
OH 21000
kek 9000
miran 106000
yeah1 12000

In [50]:
# 불우이웃돕기 문제

names = ['sunyoung', 'OH', 'kek', 'miran', 'yeah1']
money = [15000, 21000, 9000, 6000, 12000]
         
d_names = {}
i = 0
for name in names:
    d_names[name] = money[i]
    i += 1
    
a = max(money)
for d in d_names.keys(): 
    if d_names.get(d) < a:      # if d_names.get(d) == min(money): 이렇게 해도 됨!
        a = d_names.get(d)
        person = d
    
d_names[person] = d_names[person] + 100000

for k,v in d_names.items():
    print(k,v)

{'sunyoung': 15000, 'OH': 21000, 'kek': 9000, 'miran': 6000, 'yeah1': 12000}